body{ /* changes */
	margin-top:0px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

header{ /* changes */
	text-align: center;
	padding: 10px;
}

article{ 
	display: inline-block;	
	width: 320px;
	margin-bottom: 20px;	
	margin-right: 30px;	
}

aside{ /* changes */
	display:inline-block;
	width:320px;
	text-align: left;
}


canvas { /* changes */
    display: block;
    border: 1px solid black;
	margin-top:10px;		
	background-color: #FFFFFF;
}

.game_info{ /* changes */
	margin-bottom: 10px;
}

.game_info label{ /* changes */
	display: inline-block;
	margin-right: 10px;	
	font-weight: bold;
}

.game_info .game_info_content{ /* changes */
	display: inline-block;
}

.best_users{ /* changes */
	margin-top: 30px;
}

.best_users h4{
	padding: 0px;
	margin: 0px;
}

.best_scores_content ul{
	padding: 0;
	list-style-type: none;
}

.best_scores_content ul li{ /* changes */
	padding: 10px;
}

.best_scores_content ul li:nth-child(odd){ /* changes */
	background-color: #333333;
}

.best_scores_content ul li:first-line{
	font-weight: bold;
}

.newgame{ /* new */
	display: none;
	width: 302px;
	margin-top: 10px;
	padding: 5px 0;
	border: 5px solid #000000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-color: #FFFFFF;
	cursor: pointer;
}

footer{ /* new */
	clear: both;
	margin-top: 20px;
	padding: 20px;
	border-top: 1px solid #333333;
	font-size: .8em;
	color: #666666;
}



/* RESPONSIVE MEDIA QUERIES */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px){
	/* el canvas no haurà d'estar centrat, sinó situat a la part esquerra del navegador */
	body{
		text-align: left;
	}
	article{
		margin-left: 10px;
	}
}  

/* Mobile */
@media only screen and (max-width: 767px){
	/* el contenidor de l'usuari, el nivell i la puntuació actual apareixeran a sota del canvas */
	
	article,
	aside{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}
